@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.bg-main {
  background: rgb(91, 65, 194);
  background: linear-gradient(
    180deg,
    rgba(91, 65, 194, 1) 0%,
    rgba(77, 50, 113, 1) 100%,
    rgba(75, 55, 99, 1) 100%
  );
}
.bg-transparent {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(255, 255, 255, 0.31);
}
.text-lg {
  font-size: 2rem;
}
.header {
  font-weight: 500;
  font-size: 2rem;
}
.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.text-sm {
  color: white;
  font-size: 1.5rem;
}
.answer-btn {
  margin: 0 20px 0 20px;
  padding: 4px 8px 4px 8px;
  border: solid rgb(15 23 42) 2px;
  border-radius: 10px;
}
.answer-btn:hover {
  border: rgb(100 116 139) solid 2px;
  color: rgb(100 116 139)
}
.answers_wrapper {
  margin: 5vh 0 5vh 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.correct_answer {
  margin: 0 20px 0 20px;
  padding: 4px 8px 4px 8px;
  border: solid rgb(15 23 42) 2px;
  border-radius: 10px;
  background-color: rgb(34 197 94);
}
.incorrect_answer {
  margin: 0 20px 0 20px;
  padding: 4px 8px 4px 8px;
  border: solid rgb(15 23 42) 2px;
  border-radius: 10px;
  background-color: rgb(244 63 94);
}
.highligth {
  font-weight: 600;
  color: rgb(2 132 199);
}
.link {
  padding: 4px;
  color: rgb(14 165 233);
}
.link:hover {
  color: rgb(3 105 161);
}